

$h1-font: 'Titillium Web', sans-serif;
$title-font: 'Titillium Web', sans-serif;
$section-font: 'Titillium Web', sans-serif;

$nav-font: 'Open Sans', sans-serif;
$section__content-font: 'Open Sans', sans-serif;

$hero__text-color: #E1D0F6;
$section__text-color: #E2EDFF;
$section__content-color: #E2EDFF;

$form__text-color: #A7C9FF;
